* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 500px;
  background: #01293f;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  padding: 20px 0;
  overflow: hidden;

  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slide 15s linear infinite;
  z-index: 0;
}

@keyframes slide {
  0% {
    background-image: url("../../assets/sole/Logistics.jpg");
  }

  10% {
    background-image: url("../../assets/sole/Logistics.jpg");
  }

  43% {
    background-image: url("../../assets/sole/137706535_2832897623702809_3799256577048642001_n.jpg");
  }
  66% {
    background-image: url("../../assets/sole/198714229_2942825642710006_3443354245656635815_n.jpg");
  }
  100% {
    background-image: url("../../assets/sole/292435275_3234318383560729_6332790117099571211_n.jpg");
  }
}

.container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #01293f;
  opacity: 0.8;
  top: 0;

  border-bottom-left-radius: 40px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  width: 500px;
}

.logoSpan {
  font-size: 50px;
  color: #fff;
  margin-left: 7px;
}

.logo:hover {
  transform: translateY(-3px);
}

.logo img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  animation: pulse 2s ease-in-out infinite;
  /* animation: moveLeftToRight 4s linear infinite alternate; */
  border: 4px solid rgb(0, 208, 255);
  box-shadow: 0 3px 20px rgb(253, 253, 253);
}

.sole {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(251, 251, 251);
  display: flex;
  transition: transform 0.3s ease;
  box-shadow: 0 5px 0px 0px;

  margin-right: 70px;
}

.sole:hover {
  transform: scale(1.1);
}

.fa-truck {
  display: flex;
  width: 500px;
  margin-left: 10px;
  color: #e7cf67;

  animation: moveLeftToRight 3s linear infinite alternate;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% - 50px));
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-left: 40px;
  position: relative;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  position: relative;
  font-size: 20px;
}

.nav-menu li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-menu li a:hover::before {
  transform: scaleX(1);
}

.nav-menu li a:hover {
  color: #e7cf67;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav-menu li {
  animation: fadeInUp 0.5s forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c3e50; /* Dark blue */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.4s ease;
}

.nav-menu li:hover .dropdown-content {
  display: block;
}

.servicess {
  position: relative;
}

.optional {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  left: 68rem;
  top: 2.5rem;
  list-style-type: none;
  opacity: 0.7;
}

.link-style {
  text-decoration: none;
  color: black;
}

.link-style:hover {
  font-weight: bold;
  color: rgb(0, 208, 255);
}

.optionalAbout {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  left: 75rem;
  top: 2.5rem;
  list-style-type: none;
  opacity: 0.7;
}

.GeFlag {
  width: 25px;
  border-radius: 50%;
}

.flag {
  width: 25px;
  height: 25px;
}

.flag:hover {
  border: 2px solid rgb(0, 208, 255);
}

.optionalFlag {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  left: 88.2rem;
  top: 2.5rem;
  list-style-type: none;
  opacity: 0.7;
}
