.gallery-container {
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
  background-color: rgb(0, 208, 255);
}

.gallery {
  display: inline-block;
  animation: scrollGallery 12s linear infinite;
  -webkit-animation: scrollGallery 12s linear infinite;
  margin-top: 10px;
}

.gallery img {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

@keyframes scrollGallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 10px));
    -webkit-transform: translateX(calc(-100% - 10px));
    -moz-transform: translateX(calc(-100% - 10px));
    -ms-transform: translateX(calc(-100% - 10px));
    -o-transform: translateX(calc(-100% - 10px));
  }
}
